*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
    background-color: #8DE4F8;
}

.header_topline {
    background-color: #04819E;
    height: 60px;
}
.header_topline a { 
     color: #fff;
}


.soc_buttons a {
    position: relative;
    float: right;
      font-size: 30px;
    padding:5px 5px;
    z-index: 2;
}

.logo {  
    float: left;
    font-size: 45px;
    font-family: "NautilusPompiliusRegular";
    
}
.logo2 {  
    float: left;
    font-size: 45px;
    font-family: "NautilusPompiliusRegular";
    display: none;
    
    
}

.main_mnu {
   float: left;
}


.main_mnu ul li {
    display: inline-block;
    padding: 5px 10px;
    float: left;
    margin-top: -1px;
    font-size: 18px;
    
      
}
.main_mnu ul li:hover {
   
    background-color: #206676;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.main_mnu .active:hover {
    background-color: #4BA1B5;
}

.active,
.main_mnu ul li:active {
     background-color: #4BA1B5;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.mobi_nav {
    position: relative;
    z-index: 2;
    font-size: 39px;
    float: left;
}

.slider_container {
         background-color: #8C9496;
    border: 15px solid #8C9496;
    border-radius: 5px;
    
    
}

.slider_container img {
    max-width: 100%;
    border-radius: 5px;
}



