body {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
/*.psevdo-body {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: stretch;*/
    /*align-content: stretch;*/

/*}*/
.header {
    width: 25%;
    /*height: 100vh;*/

    background: #222534;
    display: flex;
    justify-content: center;
    float: left;

}

.header-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px 0;

}

.header-logo {
    background: url(../images/logo.png) no-repeat center;

    background-size: contain;
    /*max-height: 60px;*/
    height: 60px;
    width: 50%;
    padding: 15px 15px;
}

.header-nav {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.header-nav ul {
    padding: 0;
}

.header-nav li {
    list-style: none;
    border-bottom: 1px solid #313443;
    padding: 15px 0;

}

.header-nav li:last-child {

    border-bottom: none;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header-socials {
    padding: 15px 15px;
    display: flex;

}

.header-social-btn {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-social-btn:hover {
    cursor: pointer;
    color: #fff;
    background: #29d9c2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post-block {
    /*width: 248px;*/
    /*display: flex;*/
    background: url(../images/cards.png);
    flex-basis: 248px;
    /*width: 100%;*/
    height: 248px;
    /*border: 1px solid #fff;*/
    /*background: #000;*/
}

.post-block-info {
    display: none;
    width: 100%;
    height: 100%;
}

.post-block-info h2 {
    margin: 0;
}

.post-block:hover .post-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(52, 54, 67, 0.5);
}
.post-h-line {
    margin: 15px 0 5px 0;
    width: 20%;
    border-bottom: 4px solid #29d9c2;
}


.footer {
    height: 320px;
    background: #f5f6f8;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
.footer-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav  {
    border-bottom: 1px solid #e9eaec;
    width: 100%;
    padding: 25px 0;
}
.footer-nav nav {
    display: flex;
    justify-content: center;
}
.footer-nav-btn {
    text-decoration: none;
    color: #6e808a;
    padding: 0 25px;
}

.footer-bot {
    margin: 3px 0 0 0 ;
    border-top: 1px solid #e9eaec;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #657984;
}
.footer-bot-logo-side {
    width: 50%;
    display: flex;
    /*justify-content: flex-start;*/
}
.footer-logo {
    background: url(../images/footer-logo.png) no-repeat left;
    background-size: contain;
    /*max-height: 60px;*/
    height: 60px;
    width: 50%

}
.footer-call-me-back-btn {
    background: url(../images/callback-btn.png) no-repeat left;
    background-size: contain;
    /*max-height: 60px;*/
    height: 60px;
    width: 50%;

}
.footer-bot-copyright-side {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer-bot-copyright-side p {
    margin: 0;
}

.footer-bot-copyright-side p:first-child {
    text-transform: uppercase;

}
